* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: .03em;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgba(52, 45, 45, 0.087);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 16px;
    background-color: hsla(240, 45%, 98%, 0);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background: linear-gradient(90deg, rgb(15, 175, 175), #004d47);
    background-size: cover;
}

body::-moz-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background: linear-gradient(90deg, rgb(15, 175, 175), #004d47);
    background-size: cover;
}

body::-webkit-scrollbar-track {
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    border-radius: 10px;
    background: linear-gradient(180deg, rgb(43%, 62%, 79%, 1), rgb(97%, 64%, 38%, 1));
}

h1,
h2,
h3 {
    color: rgba(28, 70, 68, 0.918);
}

li {
    list-style-type: none;
}

p {
    display: block;
    width: 100%;
    text-align: justify;
    hyphens: auto;
}

a {
    color: #000000;
    text-decoration: none;
}

a:active,
 :visited {
    color: #000000;
}

a:hover {
    text-shadow: 1px 0px 10px #004d47;
    -webkit-transition: 1s linear 0s;
    -moz-transition: 1s linear 0s;
    -o-transition: 1s linear 0s;
    transition: 1s linear 0s;
    outline: 0 none;
}

.header-container {
    display: flex;
}

.main {
    width: auto;
    background-image: linear-gradient(45deg, rgb(97%, 64%, 38%, 1), rgb(43%, 62%, 79%, 1));
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
}

.main-animation {
    background-image: linear-gradient(90deg, rgb(43%, 62%, 79%, 1), rgb(97%, 64%, 38%, 1));
    background-size: 800% 800%;
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    -webkit-animation: rainbow 10s ease infinite;
    -moz-animation: rainbow 10s ease infinite;
    -o-animation: rainbow 10s ease infinite;
    animation: rainbow 10s ease infinite;
    animation-delay: 2s;
    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
}

@-webkit-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-moz-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@-o-keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%
    }
    50% {
        background-position: 100% 19%
    }
    100% {
        background-position: 0% 82%
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.main-container {
    display: grid;
    width: auto;
    height: auto;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr 2fr 1fr;
    */
    gap: 20px 20px;
    grid-template-areas: ". ." ". ." "section-title-courses section-title-courses" "section-projects section-projects" ". ." "section-title-skills section-title-skills";
    justify-items: stretch;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px) saturate(110%) contrast(50%);
    border: 8px solid #004d47;
    /*Параметрырамки*/
    box-shadow: 0 0 7px rgb(15, 175, 175);
    border-style: solid;
    border-radius: 8% 3%;
    -webkit-border-radius: 8% 3%;
    -moz-border-radius: 8% 3%;
    -ms-border-radius: 8% 3%;
    -o-border-radius: 8% 3%;
}

@media (max-width: 604px) {
    .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: auto;
        border-radius: 3% 1%;
        box-shadow: 0 0 7px rgb(15, 175, 175);
        border-style: solid;
    }
}

.section-title-courses {
    grid-area: section-title-courses;
}

.section-projects {
    grid-area: section-projects;
}

.section-title-skills {
    grid-area: section-title-skills;
}

.section>h2 {
    display: block;
    left: 0px;
}

.section-div {
    width: 100%;
    height: 100%;
}

.section-div>h2 {
    padding-left: 25px;
    padding-top: 20px;
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2%;
    overflow-x: hidden;
}

img {
    margin: 10px;
    filter: grayscale(35%);
    cursor: pointer;
    -webkit-filter: grayscale(35%);
    /*Safari6.0-9.0*/
    border-radius: 250px;
    /*Радиусскругления*/
    border: 5px solid #004d47;
    /*Параметры рамки*/
    box-shadow: 0 0 30px rgb(148, 213, 213);
    /*Параметры тени*/
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    -ms-border-radius: 250px;
    -o-border-radius: 250px;
    -webkit-border-radius: 250px;
}

.photo {
    transition: all ease-out 1s;
    -webkit-transition: all ease-out 1s;
    -moz-transition: all ease-out 1s;
    -ms-transition: all ease-out 1s;
    -o-transition: all ease-out 1s;
}

.photo-animation {
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transition: all ease-in 1s;
    -webkit-transition: all ease-in 1s;
    -moz-transition: all ease-in 1s;
    -ms-transition: all ease-in 1s;
    -o-transition: all ease-in 1s;
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    animation: shadow 1s infinite alternate;
    filter: drop-shadow(0 0 10px #d3e8df);
    -webkit-filter: drop-shadow(0 0 10px #d3e8df);
    animation-duration: 10s;
}

@keyframes shadow {
    from {
        box-shadow: 0 0 20px 5px rgb(97%, 64%, 38%, 1);
    }
    to {
        box-shadow: 0 0 10px 3px #465b4b;
    }
}

.contacts-bgimage>h2 {
    padding-left: 25px;
    padding-top: 20px;
}

.contacts-bgimage>ul {
    padding-left: 25px;
    padding-top: 20px;
}

pre {
    font-weight: bold;
}

@media (min-width: 1280px) {
    .section {
        width: 100%;
    }
}

@media (max-width: 863px) {
    .section {
        width: 100%;
    }
    .main-container {
        border: 8px solid #004d47;
        /*Параметры рамки*/
        border-radius: 3% 1%;
        box-shadow: 0 0 7px rgb(15, 175, 175);
        border-style: solid;
        -webkit-border-radius: 11% 2%;
    }
    .contacts-bgimage {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .section-bgimage>h2 {
        margin: auto;
        padding: auto;
        text-align: center;
    }
    .section-div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .section-div>h2 {
        margin: auto;
        padding: auto;
        text-align: center;
    }
    pre {
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    .main-container {
        border: 8px solid rgba(145, 167, 145, 0.5);
        /*Параметры рамки*/
        border-radius: 4% 1%;
        box-shadow: 0 0 7px rgb(15, 175, 175);
        border-style: solid;
    }
    .nav {
        display: block;
        width: 100%;
    }
    .toggle {
        clear: both;
        display: block !important;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        color: rgb(255, 255, 255);
        background: #89c4c9;
        transition: all .2s linear;
    }
    .toggle:hover {
        background: #3f86a7af;
    }
    label {
        width: 100%;
    }
    #checkbox-menu:checked+label .touch li {
        /*в инпут лейбл и ссылки изменяем*/
        opacity: 1;
        /*прозрачность*/
        visibility: visible;
        /*отображение элементы, рамки и фона*/
        transition: all .7s linear;
        /* не понял пока*/
        width: 100%;
    }
    #checkbox-menu:checked+label .touch {
        height: 350px;
    }
    .menu {
        /*меню в целом*/
        display: flex;
        /*отображение помещаем в флекс контейр для выравнивания*/
        flex-direction: column;
        /*в ряд по вертикали*/
        justify-content: space-around;
        /*как брахузер распр.просторанство между и вокруг элементов/равномерно*/
        align-items: center;
        height: 0;
        transition: height .3s linear;
        /*не понял*/
    }
    .menu li {
        /*спичок помещаем в контейнер и выравниваем*/
        display: flex;
        align-self: center;
        width: 100%;
        opacity: 0;
        visibility: hidden;
    }
    .menu li a {
        width: 100%;
        text-align: center;
        align-self: center;
        align-content: center;
    }
    pre {
        font-size: 11px;
    }
    .nav-item:hover {
        border-color: rgba(0, 225, 255, 0.466);
    }
}

#checkbox-menu,
.toggle {
    display: none;
}

.header-container {
    max-width: 100%;
    height: 5%;
    background-color: #004d47;
    border: 3px solid rgba(145, 167, 145, 0.5);
    /*Параметры рамки*/
    box-shadow: 0 0 3px #666;
    border-style: ridge;
}

.nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu li a:hover {
    /*подсвечиваем ссылки*/
    background: #3f86a7af;
    border-radius: 3px;
}

.nav-link {
    display: block;
    padding: 0 10px;
    line-height: 35px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(224, 238, 237);
}

.nav-item:hover {
    background: #0ea182bb;
    box-shadow: 0 0 0 2px rgb(153, 148, 148);
    transition: .5s;
    border-radius: 5px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

@-webkit-keyframes blink6 {
    10% {
        transform: scale(1, 1) rotate(80deg);
    }
    20% {
        transform: scale(0, 0) rotate(160deg);
    }
    100% {
        transform: scale(0, 0) rotate(0deg);
    }
}

@keyframes blink6 {
    10% {
        transform: scale(1, 1) rotate(80deg);
    }
    20% {
        transform: scale(0, 0) rotate(160deg);
    }
    100% {
        transform: scale(0, 0) rotate(0deg);
    }
}

#blink6 {
    position: relative;
    display: inline-block;
    color: #fff;
    text-shadow: 0 0 10px #3d7a97;
}

#blink6:after,
#blink6:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 30px;
    height: 55px;
    background-image: radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0) 30%), linear-gradient(45deg, rgba(0, 0, 0, 0) 49%, rgba(255, 255, 255, .4) 50%, rgba(0, 0, 0, 0) 51%), linear-gradient(135deg, rgba(0, 0, 0, 0) 49%, rgba(255, 255, 255, .4) 50%, rgba(0, 0, 0, 0) 51%);
    -webkit-animation: blink6 10s linear infinite;
    animation: blink6 10s linear infinite;
    transform: scale(0, 0) rotate(0deg);
}

#blink6:before {
    top: -30%;
    right: 0;
    left: auto;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}


/* .section-skills {
    order: 4;
    flex-grow: 2;
} */

.section-title-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-title-skills>h2 {
    text-align: center;
}

.section-title-skills>ul {
    text-align: center;
}

.section-title-myname>h1 {
    color: rgba(255, 255, 255, 0.952);
    text-shadow: 3px 5px 8px rgba(255, 255, 255, 0.74);
}

.section-profile-title>h3 {
    color: #000000;
    text-shadow: 5px 5px 6px rgba(4, 7, 4, 0.74);
}

.section-about-me {
    height: 100%;
}

.content-project {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1270px;
    margin: auto;
}

.section-item-project {
    display: block;
    padding: 10px;
    margin: 5px;
    width: auto;
    height: auto;
}

.section-item-project a:first-child {
    background-color: burlywood;
    border: 6px solid;
    border-color: burlywood;
    border-top-left-radius: 20px;
    border-top-right-radius: 5px;
}

.section-item>span {
    font-style: italic;
    color: rgba(253, 255, 255, 0.932);
    font-weight: bold;
}

i {
    padding-right: 10px;
    color: rgb(223 235 236 / 98%);
}

.link-container {
    display: block;
    position: relative;
    width: 235px;
    height: 300px;
    overflow: hidden;
    transition: .4s;
    z-index: 2;
}

.section-item-project {
    overflow: hidden;
    transition: .4s;
}

.section-item-project:hover {
    background-color: #4a696b7c;
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 35px 14px rgb(13 13 13 / 4%);
    box-shadow: 0px 2px 35px 14px rgb(13 13 13 / 4%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.link-container:hover {
    border-top: none;
    box-shadow: inset 5px 5px burlywood;
    box-sizing: border-box;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

.open-popup {
    display: block;
    width: 128px;
    height: 91px;
    opacity: 1;
    background-image: url(./assets/img/certificate-prescchool.png);
    background-size: cover;
    cursor: pointer;
    transition: 0.5s all ease-out;
    -webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    -ms-transition: 0.5s all ease-out;
    -o-transition: 0.5s all ease-out;
}

@media (max-width: 768px) {
    .sertificat {
        height: 50%;
        width: 70%;
    }
}

.opasity-link {
    opacity: 0;
    transition: 0.5s all ease-out;
    -webkit-transition: 0.5s all ease-out;
    -moz-transition: 0.5s all ease-out;
    -ms-transition: 0.5s all ease-out;
    -o-transition: 0.5s all ease-out;
}

.popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}

.popup__bg.active {
    opacity: 1;
    pointer-events: all;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -ms-transition: .5s all;
    -o-transition: .5s all;
}

.popup__bg.active>.sertificat {
    position: relative;
    top: 25%;
    margin: auto;
    height: 50%;
    width: 70%;
    opacity: 1;
    background-image: url(./assets/img/certificate-prescchool.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: .5s all ease-out;
    transform: translate(0px, 0%) rotateX(0deg);
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    -ms-transition: .5s all ease-out;
    -o-transition: .5s all ease-out;
    -webkit-transform: translate(0px, 0%) rotateX(0deg);
    -moz-transform: translate(0px, 0%) rotateX(0deg);
    -ms-transform: translate(0px, 0%) rotateX(0deg);
    -o-transform: translate(0px, 0%) rotateX(0deg);
}

.sertificat {
    position: relative;
    top: 25%;
    margin: auto;
    height: 50%;
    width: 70%;
    opacity: 0;
    background-image: url(./assets/img/certificate-prescchool.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1.5s all ease-out;
    transform: translate(0px, -45%) rotate(45deg);
    -webkit-transition: 1.5s all ease-out;
    -moz-transition: 1.5s all ease-out;
    -ms-transition: 1.5s all ease-out;
    -o-transition: 1.5s all ease-out;
    -webkit-transform: translate(0px, -45%) rotate(45deg);
    -moz-transform: translate(0px, -45%) rotate(45deg);
    -ms-transform: translate(0px, -45%) rotate(45deg);
    -o-transform: translate(0px, -45%) rotate(45deg);
}

.popup {
    position: absolute;
    max-width: 1280px;
    top: 18%;
    left: 41%;
    width: 90%;
    padding: 25px;
    transition: 0.5s all ease-in-out;
    transform: translate(0px, 100%);
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -ms-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    -webkit-transform: translate(0px, 100%);
    -moz-transform: translate(0px, 100%);
    -ms-transform: translate(0px, 100%);
    -o-transform: translate(0px, 100%);
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -moz-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    -o-transform: translate(-50%, -50%) scale(1);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.close-popup {
    position: absolute;
    left: 100%;
    background-color: rgba(210, 208, 99, 0.778);
    border-radius: 50%;
    cursor: pointer;
    transition: all.5s;
    z-index: 101;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all.5s;
    -moz-transition: all.5s;
    -ms-transition: all.5s;
    -o-transition: all.5s;
}

@media (max-width: 1280px) {
    .popup {
        top: 20%;
        left: 37%;
    }
}

@media (max-width: 1050px) {
    .popup {
        top: 20%;
        left: 38%;
    }
}

@media (max-width: 768px) {
    .popup {
        top: 23%;
        left: 40%;
    }
    .close-popup {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 680px) {
    .popup {
        top: 29%;
    }
}

@media (max-width: 420px) {
    .popup {
        top: 37%;
    }
}

@media (max-height: 460px) {
    .popup__bg.active>.sertificat {
        top: 5%;
        margin: auto;
        height: 90%;
        width: 63%;
    }
}

.close-popup:hover {
    background-color: #fff;
    border-radius: 50%;
    filter: invert(94%) sepia(1%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    -webkit-filter: invert(94%) sepia(1%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.luxestate {
    position: relative;
    background-image: url(./assets/img/Lluxestate-screenshot.png);
    background-size: cover;
    z-index: 1;
}

.wild-vacation {
    position: relative;
    background-image: url(./assets/img/Wild-vacation-screenshot.png);
    background-size: cover;
    z-index: 1;
}

.roadsite-studio {
    position: relative;
    background-image: url(./assets/img/Roadsite-studio-screenshot.png);
    background-size: cover;
    z-index: 1;
}

.portfolio-screenshot {
    position: relative;
    background-image: url(./assets/img/Portfolio-screenshot.png);
    background-size: cover;
    z-index: 1;
}

.image-galery {
    position: relative;
    background-image: url(./assets/img/Image-galery-screenshot.png);
    background-size: cover;
    z-index: 1;
}

.eco-sounds {
    position: relative;
    background-image: url(./assets/img/Eco-sounds-screenshot.png);
    background-size: cover;
    z-index: 1;
}

.memory-game {
    position: relative;
    background-image: url(./assets/img/Memory-game-screenshot.png);
    background-size: cover;
    z-index: 1;
}

.shelter {
    position: relative;
    background-image: url(./assets/img/Shelter-screenshot.png);
    background-size: cover;
    z-index: 1;
}

#luxestateId:hover>:nth-child(1)::after {
    content: 'more than 3 years ago';
    position: relative;
    display: block;
    float: right;
    width: 130px;
    height: 20px;
    font-size: 12px;
    color: #000;
    text-align: center;
}

#wildVacationId:hover>:nth-child(1)::after {
    content: '2 years ago';
    position: relative;
    display: block;
    float: right;
    width: 120px;
    height: 20px;
    font-size: 12px;
    color: #000;
    text-align: center;
}

#roadsiteStudioId:hover>:nth-child(1)::after {
    content: '8 years ago';
    position: relative;
    display: block;
    float: right;
    width: 100px;
    height: 20px;
    font-size: 12px;
    color: #000;
    text-align: center;
}

#portfolioScreenshotId:hover>:nth-child(1)::after {
    content: 'recently';
    position: relative;
    display: block;
    float: right;
    width: 60px;
    height: 20px;
    font-size: 12px;
    color: rgb(255, 254, 254);
    letter-spacing: .12em;
    text-align: left;
}

#memoryGameId:hover>:nth-child(1)::after {
    content: 'recently';
    position: relative;
    display: block;
    float: right;
    width: 60px;
    height: 20px;
    font-size: 12px;
    color: rgb(255, 254, 254);
    letter-spacing: .12em;
    text-align: left;
}

#imageGaleryId:hover>:nth-child(1)::after {
    content: 'recently';
    position: relative;
    display: block;
    float: right;
    width: 60px;
    height: 20px;
    font-size: 12px;
    color: rgb(255, 254, 254);
    letter-spacing: .12em;
    text-align: left;
}

#ecoSoundsId:hover>:nth-child(1)::after {
    content: 'recently';
    position: relative;
    display: block;
    float: right;
    width: 60px;
    height: 20px;
    font-size: 12px;
    color: rgb(255, 254, 254);
    letter-spacing: .12em;
    text-align: left;
}

#shelterId:hover>:nth-child(1)::after {
    content: 'in progress';
    position: relative;
    display: block;
    float: right;
    width: 78px;
    height: 20px;
    font-size: 12px;
    color: rgb(255, 254, 254);
    letter-spacing: .12em;
    text-align: left;
}

.link-visited {
    position: relative;
}

.link-visited::after {
    content: '';
    background-image: url(./assets/img/VISITED.png);
    background-clip: content-box;
    background-position: center;
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: default;
}

.reset-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 100%;
    margin-top: 10px;
    width: 90px;
    height: 30px;
    background: #004d47;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#729e85), to(#486d5c));
    background: -moz-linear-gradient(#729e85, #486d5c);
    background: linear-gradient(#729e85, #486d5c);
    border: solid 1px #236036;
    border-bottom: solid 3px #225f33;
    box-shadow: inset 0 0 0 1px #90a59c;
    color: #fff;
    text-shadow: 0 1px 0 #225f33;
    cursor: pointer;
    transition: all .5s ease-out;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.reset-button:hover {
    animation: animate 8s linear infinite;
    background: #486d5c;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#486d5c), to(#729e85));
    background: -moz-linear-gradient(#486d5c, #729e85);
    background: linear-gradient(#486d5c, #729e85);
    border: solid 1px #236036;
    border-bottom: solid 3px #225f33;
    box-shadow: inset 0 0 0 1px #90a59c;
}

.reset-button:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #486d5c, #225f33, #729e85, #126a62);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.reset-button:hover:before {
    filter: blur(4px);
    opacity: 1;
    animation: animate 8s linear infinite;
    -webkit-animation: animate 8s linear infinite;
    -webkit-filter: blur(4px);
}

.reset-button:active {
    background: #486d5c;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#486d5c), to(#729e85));
    background: -moz-linear-gradient(#486d5c, #729e85);
    background: linear-gradient(#486d5c, #729e85);
    border: solid 1px #236036;
    box-shadow: inset 0 10px 15px 0 #225f33;
}

.reset-button i {
    padding: 0px;
}

.reset-button:hover i {
    color: rgb(17, 46, 10);
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background-color: #004d47;
    border: 3px solid rgba(145, 167, 145, 0.5);
    /*Параметры рамки*/
    box-shadow: 0 0 3px #666;
    border-style: ridge;
}

.footer-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-left: 5%;
    padding: 5px;
}

footer>a {
    margin-right: 5px;
}

@media(max-width:325px) {
    .footer-container {
        margin: 0px;
    }
}

.github {
    display: block;
    padding: 0 10px;
    line-height: 50px;
    text-decoration: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(224, 238, 237);
}

.copyright {
    padding: .55em;
}

.copyright p {
    color: white;
    vertical-align: middle;
    font-size: 20px;
}

.rs {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

svg {
    width: 50px;
    height: 50px;
}